<div class="move-right">
<h1>Careers</h1>
<p>Want to make a difference by increasing the freedom and prosperity of our customers in a supportive work environment where you'll learn, bring your ideas to life, and be rewarded according to your merit?</p>
<form action="https://formspree.io/benthomascook28@gmail.com" method="POST">
	<div class="field">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" />
	</div>
	<div class="field">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" />
	</div>
	<div class="field">
		<label for="phone">Phone</label>
		<input type="phone" name="phone" id="phone" />
	</div>
	<div class="field">
		<label for="message">Why do you want to work at Wyk?</label>
		<textarea name="message" id="message" rows="3"></textarea>
	</div>
	<div class="field">
		<label for="message">How can you create value at Wyk?</label>
		<textarea name="message" id="message" rows="3"></textarea>
	</div>
	<ul class="actions">
		<li><input type="submit" value="Send" /></li>
	</ul>
</form> 
</div>