<div class="move-right">
<strong>
<h1>Utilities</h1>
<md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>

<div>
		<label for="utilitiesYesNo">Will you pay for utilities?</label><br>
		<input type="radio" ng-model="utilitiesYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="utilitiesYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>

<div>
		<label for="waterYesNo">Will you pay for water?</label><br>
		<input type="radio" ng-model="waterYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="waterYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>

<div>
		<label for="waterYesNo">Will you pay for electricity?</label><br>
		<input type="radio" ng-model="electricityYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="electricityYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>

<div>
		<label for="cellYesNo">Will you use a cell phone?</label><br>
		<input type="radio" ng-model="cellYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="cellYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>

<div>
		<label for="waterYesNo">Will you get a internet access?</label><br>
		<input type="radio" ng-model="internetYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="internetYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>

<div>
		<label for="heatingYesNo">Will you pay for heat?</label><br>
		<input type="radio" ng-model="heatYesNo.type" value="Yes">
		    Yes
		</label><br/>
		<label>
		<input type="radio" ng-model="heatYesNo.type" value="No">
		    No
		</label><br/>
	</div>
<br/>
</strong>
<section>
    <button class="btn" ng-click="ctrl.previous()">previous</button>
    <button class="btn btn-primary" ng-click="ctrl.next()">next</button>
</section>
<br/>
</div>