<div class="move-right">
<h1>Our Story</h1>
<p>In early June 2017 I talked with a couple under a Launch Fishers awning when my umbrella proved inadequate during a downpour.  They had worked in India, Australia, and Germany, and told me I could make more money in cities there. They cited yearly pay, and especially encouraged me to consider working in Bangalore or Silicon Valley.</p>

<p>I'm open to working wherever in the world I find the best opportunity and can maximize my net income, so I wondered whether I really would be financially better off in those places.  I would have a higher yearly pay, I didn't know how much more I'd pay more in things like taxes and housing.</p>

<p>I searched online and in the App store to try to find a personal net income estimation tools, but didn't find any tools I could use. So I thought of Wyk, which stands for "what you'll keep."  Our logo's wick is a dollar sign.  Our logo's flame has multiple layers, representing different types of expenses like taxes and housing.</p>
</div>