<h1>Wyk</h1>
<h3>What You'll Keep<h3>

	<div ng-controller="CarouselDemoCtrl" id="slides_control">
	  <div>
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <div id="carouselImageHolder"><img ng-src="{{slide.image}}"></div>
<!-- 	        <div class="carousel-caption">
	          <h4>Slide {{$index+1}}</h4>
	        </div> -->
	      </slide>
	    </carousel>
	  </div>
	</div>

<!-- <div class="w3-content w3-display-container"> -->
<!--   <img class="mySlides" src="../../img/New York City.jpeg">
  <img class="mySlides" src="../../img/Singapore.jpeg"> -->
  <!-- <img class="mySlides" src="../../img/Burb.jpeg"> -->
<!--   <div class="w3-center w3-display-bottommiddle" style="width:100%">
    <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
  </div> -->
	<!-- </div> -->
	
	<h3>Increase Your Prosperty by Comparing the Net Income You'd Earn From Different Jobs</h3>
	<div id=paragraphContainer>
		<p>	Imagine you're deciding whether to invest in one of two companies.  Company A makes $100 million in sales per year.  Company B makes $50 million in sales per year.  Which would you invest in?</p>

		<p>	Company A pays $600 million in total expenses, while company B pays $10 million in expenses.  Now which would you invest in?</p>

		<p>	As this example demonstrates, net income (profit) provides a much better picture than gross income (total earnings).  So why do so people around the world use yearly income when deciding where to work instead of net income?</p>

		<p>	Wyk could reduce a skills gap in places around the world like the Indianapolis area which might offer relatively high net incomes.</p>

		<p>	Wyk customers could keep thousands of dollars more than they otherwise would and enjoy more freedom and prosperity by comparing opportunities in cities around the world with one apples-to-apples net income value.</p>

		<p>	Wyk may alert customers to expenses they hadn't considered, reduces research time by pulling from APIs, and does the calculations accurately.</p>

		<p>	By creating so much value, Wyk can justify charging a monthly subscription that's only a fraction of the value we identify.</p>

		<p>	Wyk will change the world's focus from total yearly earnings to yearly net income.</p>
		</div>
